.header-top .info li i{
	color: #a58b78;
}

.header-top .info li a:hover{
  color: #a58b78;
}

.header-top .social-links li a:hover{
  background: #a58b78;
}

.theme-btn.btn-three{
	background: #a58b78;
}

.header-style-two .inner-container .main-menu .navigation > li.current > a, 
.header-style-two .inner-container .main-menu .navigation > li:hover > a{
	color: #a58b78;
}

.header-style-two .main-menu .navigation > li > ul > li > a:hover, 
.header-style-two .main-menu .navigation > li > .megamenu li > a:hover{
	color: #a58b78;
}

.header-style-two .main-menu .navigation > li > ul > li > ul > li > a:hover{
	color: #a58b78;
}

.header-style-two .sticky-header .support-box .icon-box{
  background: #a58b78;
}

.banner-carousel .content-box h3 i{
	color: #a58b78;
}

.main-header .search-box-outer .dropdown-menu{
	background: #a58b78;
}

.sec-title .icon-box{
	color: #a58b78 !important;
}

.green_color{
	color: #a58b78;
}

.hov_color:hover{
	color: #a58b78;
}

.feature-block-two .inner-box:before{
	background: #a58b78;
}

.content_block_3 .content-box .sec-title .upper-text i{
	color: #a58b78;
}

.list-style-one li:before{
	background: #a58b78;
}

.featured-projects .image-box:before{
	background: #a58b78;
}

.featured-projects .owl-nav button:hover{
  background: #a58b78;
}

.amenities-section .list-item li .single-item:hover{
  background: #a58b78;
}

.project-style-two .sec-title .theme-btn i{
	color: #a58b78;
}

.hov_color:hover{
	color: #a58b78 !important;
}

.project-style-two .owl-theme .owl-dots .owl-dot.active span,
.project-style-two .owl-theme .owl-dots .owl-dot span:hover{
  background: #a58b78;
}

.contact-section .content-box .sec-title .upper-text i{
	color: #a58b78;
}

.contact-section .form-inner .form-group input:focus,
.contact-section .form-inner .form-group textarea:focus{
  border-color: #a58b78 !important;
}

.news-block-one .inner-box .image-box .post-date{
	background: #a58b78;
}

.news-block-one .inner-box .image-box .image{
	background: #a58b78;
}

.news-block-one .inner-box .lower-content .post-info li a:hover{
	color: #a58b78;
}

.news-block-one .inner-box .lower-content h3 a:hover{
	color: #a58b78;
}

.news-block-one .inner-box:before{
	background: #192e5c;
}

.news-block-one .inner-box:hover:before{
	background: #a58b78;
}

.green_bg{
	background: #a58b78;
}

.subscribe-section .form-inner .form-group button{
	background: #192e5c;
}

.footer-top .logo-widget .support-box .icon-box{
	background: #a58b78;
}

.footer-top .logo-widget .support-box h3 a:hover{
	color: #a58b78;
}

.footer-top .widget-title:before{
	background: #a58b78;
}

.footer-top .links-widget .links-list li a:before{
	color: #a58b78;
}

.footer-top .gallery-widget .image-list li .image{
	background: #a58b78;
}

.footer-bottom .footer-nav li a:hover{
	color: #a58b78;
}

.footer-bottom .footer-social li a:hover{
	background: #a58b78;
}

.scroll-top{
	background: #a58b78;
}

.banner-carousel .owl-nav button:hover{
	background: #a58b78;
	border-color: #a58b78;
}